.main {
  background-color: gray;
  color: white;

  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 0px;
  top: 0px;
/*child elements*/
  display: flex;
  align-items: center;
  flex-direction: column;

}
.inside{
  background-color: hsl(0,0%,50%);
  color: white;
  width: 50%;
  font-size: 14pt;
  margin: 1em;
  padding: 1em;
  border: 1px solid white;
}
